# Intermediates & temp
.tmp/
__pycache__/
*.pyc

# Secrets
.env
token.json
credentials.json

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Next.js
.next/
out/
node_modules/
npm-debug.log*
.vercel
